<h2>Celebrity Details</h2>
<hr />
<h4>{{name}}</h4>
<hr />
<p>{{occupation}}</p>
<hr />
<p>{{catchPhrase}}</p>
<hr />
<br />

<form action="/celebrities/{{_id}}/delete" method="POST">
<br>
<button type="submit"> Delete Celebrity </button>
</form>

<a href="/celebrities">Go back</a>