<h2>Celebrities</h2>

<a href="/celebrities/create"> New Celebrity </a>

{{#each celebrities}}
  <hr />
  <h3>
    Name:
    {{name}}
  </h3>

  <h3>
    Occupation:
    {{occupation}}
  </h3>

  <h3>
    Catch Phrase:
    {{catchPhrase}}

  </h3>
  <a href="/celebrity/{{_id}}">Show details</a>
{{/each}}

<a href="/">
  Back to index
</a>