<h2>New Movie</h2>

<form action="/movies/create" method="POST">
  <label>
    Title:
    <input type="text" name="title" placeholder="Movie" />
  </label>
  <label>
    Genre
    <input type="text" name="genre" placeholder="Genre" />
  </label>
  <label>Plot
    <input type="text" name="plot" placeholder="Plot" />
  </label>
  <label for="cast">Cast:</label>
  <select name="cast" multiple>
    {{#each celebrities}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
  <button type="submit">Submit New Movie</button>
</form>